
::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}

    #display-graph {
        max-width: 200px;
        position: fixed;
        margin-left: 40px;
    }
    #display-graph-2{
        /*max-height: 230px;*/
        max-width: 165px;
        position: fixed;
        margin-top: 300px;
        margin-left: 50px;
    }


.table-responsive{
    height: 550px;
    background: white;
    border-radius: 5px;
    box-shadow: 0px 8px 16px 4px rgba(0,0,0,0.2);
}


    .col-sm-4{
    position: fixed;
        margin-left: 650px;
        width: 350px;
    height: 550px;
    background: white;
    border-radius: 5px;
    box-shadow: 0px 8px 16px 4px rgba(0,0,0,0.2);
}


body {
    position: relative;
    background-color: #FFFDE7;
}

ul.nav-pills {
    top: 75px;
    position: fixed;
    width: 150px;
}

ul.nav-pills > li > a {
    color: #ffffff;
    background-color: #0D47A1;
    font-weight: 300;
}

ul.nav-pills > li > a:visited {
    color: #ffffff;
    background-color: #0D47A1;
    font-weight: 300;
}

ul.nav-pills > li > a:hover {
    background-color: #000;
    font-weight: bold;
}



#list-table-container {
    color: black;
    width: 65%;
}

#chart-container{
    color: black;
    width: 40%;
}
.navbar-nav > li > a {
    color: white;
}

.navbar-nav > li > a:visited {
    color: white;
    background-color: #0D47A1;
}

.navbar-nav > li > a:hover {
    background-color: #fff;
    color: black;
    font-weight: bold;
    padding-left: 25px;
}

.page-container > .container {
    margin-top: 75px;
}

.navbar {
    background-color: #0D47A1;
    -webkit-box-shadow: 0 6px 8px 1px rgba(0, 0, 0, 0.77);
    -moz-box-shadow: 0 6px 8px 1px rgba(0, 0, 0, 0.77);
    box-shadow: 0 6px 8px 1px rgba(0, 0, 0, 0.77);
}

#message, #user {
    color: white;
}

.icon-bar {
    background-color: white;
}

.table {
    background-color: white;
}

.inactive-link {
    pointer-events: none;
    cursor: default;
}
