<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">

    <!-- Bootstrap Stylesheet -->
    <link rel="stylesheet" href="dist/css/bootstrap.min.css">
    <!-- Optional theme -->
    <link rel="stylesheet" href="dist/css/bootstrap-theme.min.css">

    <!--Include configuration javascript-->
    <script src="js/config.js"></script>

    <!-- Include jQuery library -->
    <script src="dist/js/jquery-2.2.2.min.js"></script>
    <!-- Bootstrap JavaScript -->
    <script src="dist/js/bootstrap.min.js"></script>

    <!--Include showdown library-->
    <script src="dist/js/showdown.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.bundle.js"></script>

    <!--Include Handlebars librabry-->
    <script src="dist/js/handlebars.min.js"></script>

    <!--Include custom css-->
    <link rel="stylesheet" href="css/dashboard.css">


</head>

<body data-spy="scroll" data-target="#myScrollspy" data-offset="20">
<div class="page-container">
    <nav class="navbar navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#navbar"
                        aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand inactive-link" href="#" tabindex="0" id="message">Welcome</a>
                <a class="navbar-brand inactive-link" href="#" tabindex="-1" id="user">XYZ</a>
            </div>
            <div class="hidden-lg hidden-sm hidden-md">
                <div id="navbar" class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="http://localhost:8000/file/PollPlugin.css" tabindex="-1" download="s">Get CSS</a></li>
                        <li><a href="http://localhost:8000/file/PollPlugin.js" tabindex="-1" download="s">Get JS</a></li>
                        <li><a href="#" tabindex="-1" data-toggle="modal" data-target="#add-team-modal">Add Question</a></li>
                        <li><a href="#" tabindex="-1" data-toggle="modal" data-target="#log-out-modal">Log out</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>

    <div class="container">
        <div class="row">
            <nav class="col-sm-3 col-lg-2 hidden-xs" id="myScrollspy">
                <ul class="nav nav-pills nav-stacked" style="margin-top: 30px">
                    <li><a href="http://13.126.201.174:8000/file/PollPlugin.css" tabindex="-1" download="s">Get CSS</a>
                    </li>
                    <li><a href="http://localhost:8000/file/PollPlugin.js" tabindex="-1" download="s">Get JS</a></li>
                    <li><a href="#" tabindex="-1" data-toggle="modal" data-target="#add-team-modal">Add Question</a></li>
                    <li><a href="#" tabindex="-1" data-toggle="modal" data-target="#log-out-modal">Log out</a></li>
                </ul>
            </nav>
            <div class="col-sm-9 col-lg-10">

                <div id="list-table-container" class="table-responsive col-xs-6">
                    <table id="my-table" class= "table">
                        <thead>
                        <tr>
                            <th>Questions</th>
                            <th>Status</th>

                        </tr>
                        </thead>
                        <tbody id="question-table">
                        </tbody>
                    </table>
                </div>

                <div id="chart-container col-xs-6">        <div class="col-sm-4">

              <canvas id="display-graph" width="100%" style="padding: 1px;height: 80%">
                </canvas>
               <canvas id="display-graph-2" width="100%" style="padding: 1px;height: 80%">
                </canvas>
                </div>
        </div>
            </div>

        </div>
    </div>
</div>

<script id="question-template" type="text/x-handlebars-template">
    {{#question}}
    <tr class="{{questions}}">
        <!--<td><input type="checkbox" class="checkbox" title="Participant Checkbox" u16-index="{{index}}"></td>-->
        <td>{{{question}}}</td>
        <td>
            <button id={{{qid}}} onclick="update(this.id)" class="status bg-primary" value={{{qid}}}
                    style="padding: 0; width: 100%;">{{{status}}}
            </button>
        </td>
    </tr>
    {{/question}}
</script>

<!--Add team modal-->
<div class="modal fade" id="add-team-modal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h2 class="modal-title">Add Question</h2>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="alert alert-danger sr-only" role="alert" id="alert-add-team-modal">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <label for="mobile-number-add-team-modal">Question</label>
                        <input class="form-control" placeholder="Question" name="venue"
                               id="mobile-number-add-team-modal">
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-xs-12">
                        <label for="participant-names-add-team-modal">Enter Options (Separated By Comma)</label>
                        <textarea name="participant-names" class="form-control"
                                  id="participant-names-add-team-modal"></textarea>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="col-xs-6">
                    <button type="button" class="btn btn-primary btn-block" data-dismiss="modal">Cancel</button>
                </div>
                <div class="col-xs-6">
                    <button type="button" class="btn btn-primary btn-block" id="ok-button-add-team-modal"
                            onclick="confirmAndAddParticipant()">
                        Add Question
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Log Out Modal-->
<div class="modal fade" id="log-out-modal" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <p>Do you really want to log out?</p>
                <div class="modal-footer">
                    <div class="col-xs-6">
                        <button type="button" class="btn btn-primary btn-block" data-dismiss="modal">Cancel</button>
                    </div>
                    <div class="col-xs-6">
                        <button type="submit" class="btn btn-primary btn-block" onclick="logOut()">Logout
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
<!--Include custom javascript-->
<script src="js/information.js"></script>
<script src="js/dashboard.js"></script>

</html>